@model List<Event>

@* <h2>Event List</h2>

<a href="@Url.Action("AddEvent", "Event")">Add New Event</a>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Is Academic</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventItem in Model)
        {
            <tr>
                <td>@eventItem.Title</td>
                <td>@eventItem.Description</td>
                <td>@eventItem.StartDate.ToString("g")</td>
                <td>@eventItem.EndDate.ToString("g")</td>
                <td>@(eventItem.IsAcademic ? "Yes" : "No")</td>
                <td>
                    <a href="@Url.Action("UpdateEvent", "Event", new { id = eventItem.Id })">Edit</a> |
                    <a href="@Url.Action("DeleteEvent", "Event", new { id = eventItem.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
 *@

 <h2>Event Calendar</h2>

@{
    ViewBag.Title = "Event Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id='calendar'></div>


<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

       
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: '/Event/GetEvents', 
            headerToolbar: {
                left: 'prev,next today', 
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            editable: true,
            selectable: true,

           
            eventClick: function (info) {
                var eventId = info.event.id;

                
                var isDelete = confirm("Do you want to delete this event?");
                if (isDelete) {
                 
                    $.ajax({
                        url: '/Event/DeleteEvent/' + eventId,
                        type: 'DELETE',
                        success: function (result) {
                            
                            calendar.refetchEvents();
                            alert("Event deleted successfully.");
                        },
                        error: function () {
                            alert("Failed to delete the event.");
                        }
                    });
                } else {
                    
                    if (confirm("Do you want to update this event instead?")) {
                        window.location.href = '/Event/UpdateEvent/' + eventId;
                    }
                }
            },

           
            dateClick: function (info) {
               
                window.location.href = '/Event/AddEvent?start=' + info.dateStr;
            }
        });

       
        calendar.render();
    });
</script>










